<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--定义类的别名-->
    <typeAliases>
        <!--将指定包中所有类的简单类名当做其别名-->
        <package name="fm.beans" />
    </typeAliases>

    <!--注册映射文件-->
    <mappers>
        <package name="fm.dao"/>
    </mappers>
</configuration>